@model IssueTrackingSystem.Web.ViewModels.Articles.ArticlesListViewModel
@{
    this.ViewData["Title"] = "All Articles";
}
<partial name="_SidebarMenuPartial" />
<partial name="_HeadAreaPartial" />
<!-- Basic Card Example -->
<div class="shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Tickets</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                @foreach (var article in this.Model.Articles)
                {
                    <tbody>
                        <tr>
                            <td>@article.Id</td>
                            <td><a asp-action="ById" asp-route-id="@article.Id">@article.ArticleName</a></td>
                            <td>@article.ArticleName</td>
                            <td><a asp-controller="Articles" asp-action="Delete" asp-route-id="@article.Id" type="button" class="btn btn-danger mb-3">Delete</a></td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>
<hr />
<partial name="_PagingPartial" model="@Model" />
