@model IssueTrackingSystem.Web.ViewModels.Tickets.TicketsListViewModel
@{
    this.ViewData["Title"] = "All Tickets";
}

<partial name="~/Views/Shared/_HeadAreaPartial.cshtml" />
<!-- Basic Card Example -->
<div class="shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Tickets</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Status</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Actions:</th>
                    </tr>
                </thead>
                @foreach (var ticket in this.Model.Tickets)
                {
                    <tbody>
                        <tr>
                            <td>@ticket.Id</td>
                            <td><a asp-action="ById" asp-route-id="@ticket.Id">@ticket.Title</a></td>
                            <td>@ticket.CategoryName</td>
                            <td>Ticket Status</td>
                            <td>Priority</td>
                            <td>
                                <a class="btn btn-primary mb-3" asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id">Edit</a>
                                <a class="btn btn-danger mb-3" asp-controller="Tickets" asp-action="Delete" asp-route-id="@ticket.Id">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>
<hr />
<partial name="_PagingPartial" model="@Model" />
<partial name="~/Views/Shared/_SidebarMenuPartial.cshtml" />
<partial name="~/Views/Shared/_RightPaneAreaPartial.cshtml" />