@model IssueTrackingSystem.Web.ViewModels.Tickets.TicketsListViewModel
@{
    this.ViewData["Title"] = "All Tickets";
}

<h1>@this.ViewData["Title"]</h1>
<hr />

<!-- Basic Card Example -->
<div class="row">
    @foreach (var ticket in this.Model.Tickets)
    {
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">@ticket.CategoryName</h6>
            </div>
            <div class="card-body">
                <a asp-action="ById" asp-route-id="@ticket.Id">@ticket.Title</a>
            </div>
        </div>
    }
</div>
<hr />
<partial name="_PagingPartial" model="@Model" />