@model IssueTrackingSystem.Web.ViewModels.Tickets.SingleTicketViewModel
@{
    this.ViewData["Title"] = Model.Title;
    async Task DisplayComments(int? parentId)
    {
        var comments = this.Model.Comments.Where(x => x.ParentId == parentId);
        if (!comments.Any())
        {
            return;
        }
        @foreach (var comment in comments)
        {
            <div class="container-fluid mt-100">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                <div class="media flex-wrap w-100 align-items-center">
                                    <div class="media-body ml-3">
                                        <a asp-controller="Tickets" asp-action="ById"><h5>@comment.UserUserName</h5></a>
                                        <div class="text-muted small ml-3">
                                            <div>Ticket created on: <strong><time datetime="@comment.CreatedOn.ToString("O")"></time></strong></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-body">
                                <article>
                                    @Html.Raw(comment.SanitizedContent)
                                </article>
                                @{ await DisplayComments(comment.Id);}
                            </div>
                            <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                                <div class="text-muted small ml-3">
                                    <div class="px-4 pt-3"> <button type="button" class="btn btn-secondary float-right" onclick="showAddCommentForm(@comment.Id)"><i class="fa fa-plus"></i>&nbsp; Answer</button> </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
<div class="container-fluid mt-100">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        <div class="media-body ml-3">
                            <a asp-controller="Tickets" asp-action="ById"><h5>@Model.Title</h5></a>
                            <div class="text-muted small">
                                <div>Ticket created on: <strong><time datetime="@Model.CreatedOn.ToString("O")"></time></strong></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <article>
                        @Html.Raw(Model.SanitizedContent)
                    </article>
                    <div class="px-4 pt-3 float-right"> <button type="button" class="btn btn-primary float-right" onclick="showAddCommentForm(0)"><i class="fa fa-plus"></i>&nbsp; Reply</button> </div>
                    <div class="clearfix"></div>
                    <hr />
                    @{ await DisplayComments(null); }
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <form method="post" asp-controller="Comments" asp-action="Create" id="AddCommentForm" style="display: none">
        <input type="hidden" name="ParentId" value="0" />
        <input type="hidden" name="TicketId" value="@this.Model.Id" />
        <div class="form-group">
            <label asp-for="Content"></label>
            <textarea asp-for="Content" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div>
            <input type="submit" class="btn btn-secondary" value="Add comment" />
        </div>
    </form>
</div>

@section Scripts{
    <script>
        function showAddCommentForm(parentId) {
            $("#AddCommentForm input[name='ParentId']").val(parentId);
            $("#AddCommentForm").toggle();
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#AddCommentForm").offset().top
            }, 2000);
        }
    </script>
}